.protocol-form .rjsf-array-item {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 0.75rem;
  /* default background */
  background-color: white;
}

/* Even cycles (2,4,6...) */
.protocol-form .rjsf-array-item:nth-child(odd) {
  background-color: #e0f2ff; /* light blue */
}

/* Optional: odd cycles slightly off-white for contrast */
.protocol-form .rjsf-array-item:nth-child(even) {
  background-color: #ffffff;
}

.protocol-form .array-item-add button::after {
  content: "Add Cycle";
}

.protocol-form .array-item-add button span {
  display: none; /* hides the default "+" */
}